<script src="../javascripts/jquery.js"></script>
<script src="../javascripts/handlebars-v4.0.5.js" type="text/javascript"></script>
<script src="../templates/feeds.hbs" type="text/x-handlebars-template" id="tmpl_feeds"></script>
<script src="../javascripts/feeds.js"></script>
<h1>Feeds</h1>
<ul>
    {{#each feeds}}
        <li>{{this.key}}</li>
    {{/each}}
</ul>
<div id="feedlist"></div>
<input id="inputFeedUrl" type="text" size="200"  title="feedUrl"/>
<div id="feedAddResults" />

